.doc .admonitionblock .icon {
  border-radius: 1rem;
}

i.fa[class^='icon-'],
i.fa[class*=' icon-']::before {
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.25rem;
  margin-left: -0.5rem;
}

i.fa.icon-note::before {
  background: no-repeat url("../img/note.svg");
}

i.fa.icon-tip::before {
  background: no-repeat url("../img/tip.svg");
}

i.fa.icon-important::before {
  background: no-repeat url("../img/important.svg");
}

i.fa.icon-warning::before {
  background: no-repeat url("../img/warning.svg");
}

i.fa.icon-caution::before {
  background: no-repeat url("../img/caution.svg");
}

.admonitionblock{
  border: 1px dashed;
}

.admonitionblock.note{
  border-color: #217ee7;
}

.admonitionblock.warning{
  border-color: #e18114;
}

.admonitionblock.tip{
  border-color: #41af46;
}

.admonitionblock.caution{
  border-color: #a0439c;
}

.doc .admonitionblock td.content{
  background: none;
}

.doc pre.highlight code, .doc pre:not(.highlight){
  border: 1px solid #fafafa;
}

.conum[data-value]{
  background: rgb(51, 51, 88);
  color: white;
}

code{
  font-family: Fira Code, Consolas, Monoid, Hack, Droid Sans, Roboto Mono, monospace !important;
}

.edit-this-page{
  display:none;
}